@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #c5b1b1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: url(../../img/Fondo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Black Buster";
  src: url(../fonts/Blackbuster.otf);
}
h1 {
  color: rgb(126, 0, 0);
  font-family: "Black Buster";
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
}

/*seccion del menu de navegacion  .menu-nav*/
/* Estilos para el menú de navegación con Bootstrap */
.navbar {
  background-color: #c52b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-brand img {
  width: 150px;
  margin-right: 20px;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  margin-right: 3%;
}

.navbar-nav li {
  list-style-type: none;
}

.navbar-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 4px 10px;
  border: 3px solid #0e0a0a;
  border-radius: 25px;
}

.navbar-nav a:hover {
  color: #f8f8f8;
}

footer {
  background-color: #c52b2b;
  text-align: center;
  padding: 1em 0;
  margin-top: 10%; /*ojo con este valor, puede romper el posicionamiento , si se pone en auto se rompe todo*/
}

footer img {
  width: 150px;
}

.caja1 {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caja1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 550px;
  width: 550px;
  margin-bottom: 20px;
}

.caja2 {
  flex: 1;
  font-size: 28px;
  text-align: center;
}

.caja2 p {
  margin-bottom: 10px;
}

.caja3 {
  width: 100%;
  flex: 1;
}

.caja3 iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-direction: column;
  width: 90%;
  margin-bottom: 50px;
}

#cajas-insertadas {
  display: flex;
  flex-flow: wrap;
  gap: 40px;
  justify-content: center;
}

/*Pagina Contacto*/
form {
  text-align: center;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.campos {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

fieldset {
  padding: 20px;
}

#mapa {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/*Pagina Productos */
#productos img {
  width: 650px;
  height: 650px;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/*Cosas de pagina Receta*/
.caja1-receta {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}

.caja1-receta img {
  height: 550px;
  width: 550px;
  margin-bottom: 20px;
}

.caja2-receta {
  flex: 1;
  text-align: center;
}

.caja2-receta p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-bottom: 10px;
}

.caja1-receta iframe {
  margin-bottom: 60px;
}

/* Estilo para los enlaces del menú de navegación en la versión móvil */
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    padding: 4px 5px;
    border: 3px solid #c5a0a0;
    margin-bottom: 5px;
    border-radius: 25px;
  }
  .navbar-nav a {
    padding: 4px 10px;
  }
}
/*estilo del body para mobile*/
@media (max-width: 767px) {
  .caja2 {
    font-size: 1em;
  }
  .caja1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .caja1 img {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 360px) {
  body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #cajas-insertadas {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: center;
  }
  #cajas-insertadas .caja1,
  #cajas-insertadas .caja2 {
    width: 70%;
  }
  #cajas-insertadas .caja3 {
    width: 90%;
    margin-top: 20px;
  }
  #cajas-insertadas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
  }
  .caja3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
    margin: 10px;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .caja3 iframe {
    margin-bottom: 20px;
    height: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
