@charset "UTF-8";
/*color del header #c52b2b   #af2729*/
@keyframes desplazamiento_derecha {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes desplazamiento_izquierda {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes abajo {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes arriba {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #c5b1b1;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: url(../img/Fondo-2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

@font-face {
  font-family: "Heavitas";
  src: url(../fonts/Heavitas.ttf);
}
h1 {
  animation: abajo 1s ease forwards;
  color: rgb(134, 3, 3);
  font-family: "Heavitas";
  margin-top: 50px;
  text-align: center;
  font-size: 60px;
  margin-left: 30px;
  margin-right: 30px;
  -webkit-text-stroke: 2px black; /* Borde */
}

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  color: white;
  text-align: center;
  font-size: 80%;
}

/*seccion del menu de navegacion  .menu-nav*/
/* Estilos para el menú de navegación con Bootstrap */
.navbar {
  background-color: rgba(175, 48, 16, 0.9450980392);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 50px;
}

.navbar-brand img {
  animation: desplazamiento_izquierda 1s ease forwards;
  width: 150px;
  margin-right: 20px;
}

.navbar-nav {
  margin: auto;
  display: flex;
  justify-content: center;
}

.navbar-nav .nav-item {
  margin-right: 50px;
}

.navbar-nav li {
  list-style-type: none;
}

.navbar-nav a {
  text-decoration: none;
  color: #000000;
  font-size: 22px;
  font-family: "Heavitas";
  src: url(../../fonts/Heavitas.ttf);
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 4px 20px;
  border: 3px solid #0e0a0a;
  border-radius: 35px;
  margin-right: 10px;
}

.navbar-nav a:hover {
  color: #f8f8f8;
}

footer {
  background-color: rgba(175, 48, 16, 0.9450980392);
  text-align: center;
  padding: 1em 0;
}

footer img {
  width: 150px;
}

#cajas-insertadas {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.caja1, .caja2, .caja3 {
  width: calc(50% - 10px); /* Calcula el ancho para que dos cajas se ajusten en una fila con un espacio entre ellas */
  margin-right: 20px; /* Espacio entre las cajas 1 y 2 */
  margin-bottom: 20px; /* Espacio debajo de las cajas */
  max-width: 400%;
}

/*caja 1*/
.caja1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-left: 35px;
  width: 100%;
  flex: 1;
  flex-direction: column;
}

.caja1 iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 95%;
  max-height: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.caja1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 10px;
  height: 550px;
  width: 550px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.caja1 p {
  animation: desplazamiento_izquierda 1s ease forwards;
  margin: 20px;
  margin-right: 30px;
  flex: 1;
  font-size: 21px;
  max-width: 100%;
  text-align: left;
}

/*caja 2*/
.caja2 {
  flex: 1;
  text-align: center;
}
.caja2 h3 {
  font-size: 30px;
}

.caja2 p {
  animation: desplazamiento_derecha 1s ease forwards;
  margin: 20px;
  flex: 1;
  font-size: 21px;
  max-width: 100%;
  text-align: start;
}

.caja2 ul {
  color: white;
}

.caja2 li {
  animation: desplazamiento_derecha 1s ease forwards;
  font-size: 20px;
  list-style-type: circle;
  list-style-position: inside;
  text-align: start;
}

.caja2 img {
  max-width: 100%;
  height: auto;
  padding-bottom: 35px;
  border-radius: 10px;
}

/*caja 3*/
.caja3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 100%;
  height: 600px;
  margin-left: 30px;
  margin-right: 30px;
}

.caja3 iframe {
  margin-left: 30px;
  margin-right: 30px;
  height: 90%;
  width: 90%;
  padding: 10px;
}

/*caja 4*/
.caja4 {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-direction: column;
}

.caja4 h2 {
  animation: arriba 1s ease forwards;
  margin-top: 20px;
}

/*Pagina Contacto*/
form {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

fieldset {
  width: 48%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

legend {
  color: rgb(134, 3, 3);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.campos {
  margin-bottom: 15px;
}

label {
  color: white;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type=submit],
input[type=reset] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #45a049;
}

.imagen-contacto {
  width: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen-contacto img {
  max-width: 100%;
  height: auto;
}

#mapa {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.banner-contacto {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-direction: column;
  margin-bottom: 20px;
}

.banner-contacto2 {
  background-color: rgba(175, 48, 16, 0.9450980392);
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

/*cajas contacto*/
#cajas-contacto {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  margin-left: 30px;
  margin-right: 30px;
}
#cajas-contacto .caja-contacto {
  flex: 1;
  padding: 20px;
  text-align: center;
  margin-right: 10px;
}
#cajas-contacto .caja-contacto img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}

/*Pagina Productos */
#productos img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}

#productos {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  animation: arriba 1s ease forwards;
}

#productos-linea .caja1-productos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-direction: column;
  margin-top: 20px;
}

#cajas-de-aqua {
  display: flex;
}

.lineas-productos h2 {
  background-color: rgba(175, 48, 16, 0.9450980392);
  margin-left: 50px;
  margin-right: 50px;
}

/*Linea Aqua*/
#caja-linea-aqua {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-right: 40px;
}
#caja-linea-aqua .aqua1, #caja-linea-aqua .aqua2, #caja-linea-aqua .aqua3, #caja-linea-aqua .aqua4, #caja-linea-aqua .aqua5, #caja-linea-aqua .aqua6 {
  margin-left: 6px;
  width: calc(33.33% - 20px);
  margin-bottom: 18px;
  text-align: center;
  animation: desplazamiento_derecha 1s ease forwards;
}
#caja-linea-aqua .aqua1 img, #caja-linea-aqua .aqua2 img, #caja-linea-aqua .aqua3 img, #caja-linea-aqua .aqua4 img, #caja-linea-aqua .aqua5 img, #caja-linea-aqua .aqua6 img {
  border-radius: 10px;
}
#caja-linea-aqua .aqua1 h3, #caja-linea-aqua .aqua2 h3, #caja-linea-aqua .aqua3 h3, #caja-linea-aqua .aqua4 h3, #caja-linea-aqua .aqua5 h3, #caja-linea-aqua .aqua6 h3 {
  margin-top: 10px;
}

.aqua-img {
  height: 650px;
  width: 450px;
  border-radius: 10px;
  background-image: url(../img/Conteporanea-aqua.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-left: 50px;
}

/*Linea Terra*/
#cajas-de-terra {
  display: flex;
}

#caja-linea-terra {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-left: 40px;
}
#caja-linea-terra .terra1, #caja-linea-terra .terra2, #caja-linea-terra .terra3, #caja-linea-terra .terra4, #caja-linea-terra .terra5 {
  margin-left: 6px;
  width: calc(33.33% - 20px);
  margin-bottom: 18px;
  text-align: center;
  animation: desplazamiento_izquierda 1s ease forwards;
}
#caja-linea-terra .terra1 img, #caja-linea-terra .terra2 img, #caja-linea-terra .terra3 img, #caja-linea-terra .terra4 img, #caja-linea-terra .terra5 img {
  border-radius: 10px;
}
#caja-linea-terra .terra1 h3, #caja-linea-terra .terra2 h3, #caja-linea-terra .terra3 h3, #caja-linea-terra .terra4 h3, #caja-linea-terra .terra5 h3 {
  margin-top: 10px;
}
#caja-linea-terra .terra6 {
  margin-left: 6px;
  width: calc(33.33% - 20px);
  margin-bottom: 18px;
  text-align: center;
  animation: desplazamiento_izquierda 1s ease forwards;
}
#caja-linea-terra .terra6 img {
  border-radius: 10px;
}
#caja-linea-terra .terra6 h3 {
  margin-top: 10px;
}
#caja-linea-terra .terra6 img {
  background-color: white;
}

.terra-img {
  height: 650px;
  width: 450px;
  border-radius: 10px;
  background-image: url(../img/contemporaneo-terra.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  margin-right: 50px;
  margin-left: 6px;
}

/*Redes sociales*/
.boton-instagram {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #e4405f;
  border-radius: 50%;
  color: #e4405f;
}

.boton-instagram img {
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: auto;
  margin-top: 35px;
}

.boton-instagram:hover {
  background-color: #e4405f;
  color: #fff;
}

#cajas-insertadas-cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

img {
  animation: arriba 1s ease forwards;
}

/*Caja1*/
.caja1-clientes {
  flex: 1;
}
.caja1-clientes h2 {
  background-color: rgba(175, 48, 16, 0.9450980392);
  margin-left: 50px;
  margin-right: 50px;
}
.caja1-clientes ul {
  color: white;
}
.caja1-clientes li {
  animation: desplazamiento_derecha 1s ease forwards;
  font-size: 20px;
  list-style-type: decimal;
  list-style-position: inside;
  text-align: start;
  margin-left: 480px;
}
.caja1-clientes p {
  margin-left: 50px;
  margin-right: 50px;
  animation: desplazamiento_derecha 1s ease forwards;
  font-size: 21px;
  text-align: center;
}

/*Caja3*/
.caja3-clientes {
  flex: 1;
  text-align: center;
}
.caja3-clientes p {
  margin: 20px;
  flex: 1;
  font-size: 21px;
  max-width: 100%;
  text-align: center;
}
.caja3-clientes ul {
  color: white;
}
.caja3-clientes li {
  animation: desplazamiento_derecha 1s ease forwards;
  font-size: 20px;
  list-style-type: circle;
  list-style-position: inside;
  text-align: start;
  margin-left: 540px;
}

#banner1-cliente {
  background-color: rgba(175, 48, 16, 0.9450980392);
  margin-left: 50px;
  margin-right: 50px;
}

/*Seccion Canje*/
#caja-canje {
  display: flex;
}
#caja-canje .caja4-clientes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#caja-canje .caja4-clientes .mitad2 {
  width: 50%;
  text-align: center;
  margin-top: 20px;
  margin-right: 65px;
  font-size: 21px;
}
#caja-canje .caja4-clientes .mitad2 p {
  animation: desplazamiento_derecha 1s ease forwards;
}
#caja-canje .caja4-clientes .mitad1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  width: 50%;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
#caja-canje .caja4-clientes .mitad1 img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  animation: desplazamiento_izquierda 1s ease forwards;
}

/*Cosas de pagina Receta*/
.caja1-receta {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  flex-direction: column;
}
.caja1-receta h2 {
  animation: arriba 1s ease forwards;
}

/*caja1-receta*/
.caja1-receta img {
  border-radius: 10px;
  height: 550px;
  width: 550px;
  margin-bottom: 20px;
}

.caja1-receta iframe {
  margin-bottom: 60px;
}

/*caja2-receta*/
.caja2-receta {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.caja2-receta h2 {
  animation: arriba 1s ease forwards;
}

.caja2-receta img {
  border-radius: 10px;
  height: 550px;
  width: 550px;
  margin-bottom: 20px;
}

.caja2-receta p {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.caja2-receta ul {
  list-style-type: none;
  padding: 0;
}

.caja2-receta li {
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

/*caja3-receta*/
#caja3-receta {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.receta1 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta1 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta1 h3 {
  margin-top: 10px;
}

.receta2 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta2 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta2 h3 {
  margin-top: 10px;
}

.receta3 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta3 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta3 h3 {
  margin-top: 10px;
}

.receta4 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta4 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta4 h3 {
  margin-top: 10px;
}

.receta5 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta5 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta5 h3 {
  margin-top: 10px;
}

.receta6 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta6 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta6 h3 {
  margin-top: 10px;
}

.receta7 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta7 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta7 h3 {
  margin-top: 10px;
}

.receta8 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta8 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta8 h3 {
  margin-top: 10px;
}

.receta9 {
  flex: 1 1 25%;
  width: calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
}
.receta9 img {
  height: 550px;
  width: 550px;
  border-radius: 10px;
}
.receta9 h3 {
  margin-top: 10px;
}

/*secciones*/
.seccion-ingredientes {
  margin-bottom: 20px;
  text-align: center;
}

.seccion-ingredientes ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 60px;
}

.seccion-ingredientes li {
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.seccion-preparacion p {
  animation: desplazamiento_derecha 1s ease forwards;
  font-size: 18px;
}

.seccion-preparacion {
  margin-top: 110px;
}

/*Banners Receta*/
#banner1-receta {
  background-color: rgba(175, 48, 16, 0.9450980392);
  margin-left: 50px;
  margin-right: 50px;
}

#banner2-receta {
  margin-left: 50px;
  margin-right: 50px;
  background-image: url(../img/banner\ 2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: 40px;
}

#banner2-receta h2 {
  color: black;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-size: 30px;
  margin-left: 400px;
}

/*Redes sociales*/
.boton-instagram {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 2px solid #e4405f;
  border-radius: 50%;
  color: #e4405f;
}

.boton-instagram img {
  display: inline-flex;
  align-items: center;
  width: 40px;
  height: auto;
  margin-top: 35px;
}

.boton-instagram:hover {
  background-color: #e4405f;
  color: #fff;
}

/* Estilo para los enlaces del menú de navegación en la versión móvil */
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-link {
    display: block;
    width: 100%;
    padding: 4px 5px;
    border: 3px solid #000000;
    margin-bottom: 5px;
    border-radius: 25px;
  }
  .navbar-nav a {
    padding: 4px 10px;
  }
  .navbar-brand img {
    width: 100px;
  }
}
/*estilo para mobile*/
@media (max-width: 767px) {
  .caja2 {
    font-size: 1em;
  }
  .caja2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .caja2 ul li {
    font-size: 17px;
  }
  .caja1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .caja1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .caja1 img {
    max-width: 100%;
    height: auto;
  }
  footer img {
    width: 100px;
  }
}
/*Index mobile*/
@media (max-width: 766px) {
  h1 {
    width: auto;
    font-size: 2em;
  }
  h2 {
    width: auto;
  }
  body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #cajas-insertadas {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
  }
  #cajas-insertadas .caja1,
  #cajas-insertadas .caja2 {
    width: 70%;
  }
  #cajas-insertadas .caja1 h3,
  #cajas-insertadas .caja2 h3 {
    font-size: 22px;
  }
  #cajas-insertadas .caja3 {
    width: 85%;
  }
  #cajas-insertadas .caja4 {
    width: auto;
    margin: 0;
  }
  #cajas-insertadas .caja4 img {
    width: 100%;
    height: auto;
  }
  #cajas-insertadas {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
  }
  .caja3 {
    display: flex;
    flex-direction: column;
  }
  .caja3 iframe {
    display: flex;
    justify-content: center;
  }
  /*Receta Mobile*/
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  .caja1-receta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
    margin: 10px;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .caja1-receta img {
    max-width: 100%;
    height: auto;
  }
  .caja1-receta iframe {
    width: 90%;
    height: auto;
  }
  .caja2-receta {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
    margin: 10px;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .caja2-receta img {
    max-width: 100%;
    height: auto;
  }
  .seccion-preparacion {
    margin-top: 0;
  }
  #banner1-receta {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #banner1-receta h2 {
    width: auto;
  }
  #banner2-receta {
    margin: 0;
    background-position: initial;
  }
  #banner2-receta h2 {
    margin-left: 0;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
    color: white;
    -webkit-text-stroke: 1.1px black;
  }
  #caja3-receta {
    flex-direction: column;
    max-width: 100%;
  }
  #caja3-receta .receta1, #caja3-receta .receta2, #caja3-receta .receta3, #caja3-receta .receta4, #caja3-receta .receta5, #caja3-receta .receta6, #caja3-receta .receta7, #caja3-receta .receta8, #caja3-receta .receta9 {
    width: 100%;
    margin-bottom: 0;
  }
  #caja3-receta .receta1 h3, #caja3-receta .receta2 h3, #caja3-receta .receta3 h3, #caja3-receta .receta4 h3, #caja3-receta .receta5 h3, #caja3-receta .receta6 h3, #caja3-receta .receta7 h3, #caja3-receta .receta8 h3, #caja3-receta .receta9 h3 {
    margin: 0;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
  }
  /*Productos mobile*/
  #productos-linea {
    max-width: 100%;
    overflow-x: hidden;
  }
  .lineas-productos h2 {
    margin: 0;
    margin-top: 20px;
  }
  #cajas-de-aqua {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
  }
  .aqua-img {
    margin: 0;
    margin-top: 130px;
    width: 50%;
    margin-left: 6px;
  }
  #caja-linea-aqua {
    margin: 0;
    gap: 0;
    flex-direction: column;
    max-width: 100%;
  }
  #caja-linea-aqua .aqua1, #caja-linea-aqua .aqua2, #caja-linea-aqua .aqua3, #caja-linea-aqua .aqua4, #caja-linea-aqua .aqua5, #caja-linea-aqua .aqua6 {
    margin-bottom: 6px;
    margin-left: 0;
    width: 100%;
  }
  #caja-linea-aqua .aqua1 img, #caja-linea-aqua .aqua2 img, #caja-linea-aqua .aqua3 img, #caja-linea-aqua .aqua4 img, #caja-linea-aqua .aqua5 img, #caja-linea-aqua .aqua6 img {
    width: 90%;
    margin: 0;
  }
  #caja-linea-aqua .aqua1 h3, #caja-linea-aqua .aqua2 h3, #caja-linea-aqua .aqua3 h3, #caja-linea-aqua .aqua4 h3, #caja-linea-aqua .aqua5 h3, #caja-linea-aqua .aqua6 h3 {
    margin: 0;
    text-align: center;
    font-size: 1em;
  }
  .terra-img {
    margin: 0;
    margin-top: 130px;
    width: 50%;
    margin-left: 6px;
  }
  #caja-linea-terra {
    margin: 0;
    gap: 0;
    flex-direction: column;
    max-width: 100%;
  }
  #caja-linea-terra .terra1, #caja-linea-terra .terra2, #caja-linea-terra .terra3, #caja-linea-terra .terra4, #caja-linea-terra .terra5, #caja-linea-terra .terra6 {
    margin-bottom: 6px;
    margin-left: 0;
    width: 100%;
  }
  #caja-linea-terra .terra1 img, #caja-linea-terra .terra2 img, #caja-linea-terra .terra3 img, #caja-linea-terra .terra4 img, #caja-linea-terra .terra5 img, #caja-linea-terra .terra6 img {
    width: 90%;
    margin: 0;
  }
  #caja-linea-terra .terra1 h3, #caja-linea-terra .terra2 h3, #caja-linea-terra .terra3 h3, #caja-linea-terra .terra4 h3, #caja-linea-terra .terra5 h3, #caja-linea-terra .terra6 h3 {
    margin: 0;
    text-align: center;
    font-size: 1em;
  }
  h3 {
    font-size: 1em;
  }
  /*Clientes Mobile*/
  .caja1-clientes {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
  }
  .caja1-clientes h2 {
    margin: 0;
  }
  .caja1-clientes p {
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
  }
  .caja1-clientes ul {
    flex-direction: column;
    margin-right: 10px;
  }
  .caja1-clientes ul li {
    margin: 0;
    font-size: 1em;
    list-style-position: initial;
  }
  #caja-canje {
    max-width: 100%;
    overflow-x: hidden;
  }
  #caja-canje .caja4-clientes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    flex-direction: column;
  }
  #caja-canje .caja4-clientes .mitad1 {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #caja-canje .caja4-clientes .mitad1 img {
    padding: 15px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  #caja-canje .caja4-clientes .mitad2 {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
  #banner1-cliente {
    margin: 0;
    margin-bottom: 10px;
  }
  #cajas-insertadas-cliente {
    display: block;
  }
  #cajas-insertadas-cliente .caja3-clientes {
    max-width: 100%;
    overflow-x: hidden;
    flex: none;
  }
  #cajas-insertadas-cliente .caja3-clientes p {
    font-size: 1em;
  }
  #cajas-insertadas-cliente .caja3-clientes h3 {
    font-size: 1em;
    margin-left: 30px;
    margin-right: 30px;
  }
  #cajas-insertadas-cliente .caja3-clientes ul {
    flex-direction: column;
  }
  #cajas-insertadas-cliente .caja3-clientes ul li {
    margin-left: 0;
  }
  /*Contacto Mobile*/
  .banner-contacto {
    margin: 0;
  }
  .botones input[type=submit],
  .botones input[type=reset] {
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    text-align: center;
    font-size: 12px;
  }
  .image-contacto {
    height: 350px;
    width: 160px;
  }
  .image-contacto img {
    width: 100%;
    height: 100%;
  }
  .banner-contacto2 {
    margin: 0;
  }
  #cajas-contacto {
    flex-direction: column;
    margin: 0;
  }
  #cajas-contacto .caja-contacto {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
