
/*Redes sociales*/
.boton-instagram {
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 50px;
    border: 2px solid #e4405f; 
    border-radius: 50%;
    color: #e4405f; 
  
  }
  .boton-instagram img {
    display: inline-flex;
    align-items: center;
    width: 40px; 
    height: auto;
    margin-top: 35px;
    
  }
  .boton-instagram:hover {
    background-color: #e4405f; 
    color: #fff; 
  }
  
  #cajas-insertadas-cliente {
    @include flex;
   
    
  }
  img {animation: arriba 1s ease forwards;}
  /*Caja1*/
  .caja1-clientes {
      
      flex: 1;
      h2 {
        background-color: map-get($colores, fondo-primario);
        @include margenes-banner
      }
      
      ul {
        color: map-get($colores,texto-secundario );
      }
      li {
        animation: desplazamiento_derecha 1s ease forwards;
    font-size: 20px;
    list-style-type:decimal;
    list-style-position: inside;
    text-align:start;
    margin-left: 480px;
      }
      p{
        @include margenes-banner;
        animation: desplazamiento_derecha 1s ease forwards;
    
    font-size: 21px;
   
    text-align: center;
      }
      
  }
  /*Caja3*/
  .caja3-clientes {
    flex: 1;
    text-align: center;
    p{ 
        margin: 20px;   
    flex: 1;
    font-size: 21px;
    max-width: 100%;
    text-align: center;
    
    }
    ul {
        color: map-get($colores,texto-secundario );
    }
    li {
      animation: desplazamiento_derecha 1s ease forwards;
      font-size: 20px;
      list-style-type: circle;
      list-style-position: inside;
      text-align:start;
      margin-left: 540px;
    }
  }
  #banner1-cliente {
    background-color: map-get($colores, fondo-primario);
    @include margenes-banner;
  }
/*Seccion Canje*/
  #caja-canje {
    display: flex;
    .caja4-clientes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
        .mitad2 {
          width: 50%;
          text-align: center;
          margin-top: 20px;
          margin-right: 65px;
          font-size: 21px;
          p {
            animation: desplazamiento_derecha 1s ease forwards;
          }
        }
        .mitad1 {
          @include flex;
          width: 50%;
          padding: 20px;
          @include margenes-banner;
          img {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            @include bordes-redondeados($radio-bordes);
            animation: desplazamiento_izquierda 1s ease forwards;
            
          }
        }
    }
  }