/*Pagina Contacto*/
form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    
  }
  
  fieldset {
    width: 48%;
    
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  legend {
    color: map-get($colores, texto-primario);
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .campos {
    margin-bottom: 15px;
  }
  
  label {
    color: map-get($colores, texto-secundario);
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  input[type="submit"],
  input[type="reset"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-color: #45a049;
  }
  
  .imagen-contacto {
    width: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagen-contacto img{
    max-width: 100%;
    height: auto;
  }

#mapa {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}

