.caja1 {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.caja1 img {
    @include flex;
    height: 550px;
    width: 550px;
    margin-bottom: 20px;
}
.caja2 {

    flex: 1;
    font-size: 28px;
    text-align: center;
}

.caja2 p {
    margin-bottom: 10px;
}

.caja3 {
    width: 100%;
    flex: 1;
    
   
}
.caja3 iframe {
    @include flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 50px;
}


#cajas-insertadas{
    display: flex;
    flex-flow: wrap; 
    gap: 40px;
    justify-content: center;  
}