.caja1 {
    
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.caja1 img {
    height: 550px;
    width: 550px;
    margin-bottom: 20px;
}
.caja2 {

    flex: 1;
    font-size: 38px;
    text-align: center;
}

.caja2 p {
    margin-bottom: 100px;
}

.caja3 {
    
    flex: 1;
    
   
}
.caja3 iframe {
    margin-bottom: 20px;
}


#cajas-insertadas{
    display: flex;
    flex-flow: wrap; 
    gap: 40px;
    justify-content: center;  
}