/*Cosas de pagina Receta*/

.caja1-receta {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    
}

.caja1-receta img {
    height: 550px;
    width: 550px;
    margin-bottom: 20px;
}

.caja1-receta iframe {
    margin-bottom: 60px;
}

.caja2-receta {
    max-width: auto; 
    margin: 0 auto; /* Centra la caja horizontalmente */
    padding: 20px;
    
    text-align: left;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.seccion-ingredientes {
    margin-bottom: 20px; /* Espaciado entre secciones */
    text-align: center;
}

h2 {
    color: map-get($colores,texto-secundario );
}

h3 {
    color: map-get($colores,texto-secundario );
    text-align: center;
}
p {
    text-align: center;
    font-size: 80%;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px; /* Espaciado entre elementos de la lista */
    color: map-get($colores,texto-secundario );
    text-align: center;
}
