
/*seccion del menu de navegacion  .menu-nav*/
/* Estilos para el menú de navegación con Bootstrap */
.navbar{
    background-color:map-get($colores, fondo-primario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 50px;
}


.navbar-brand img {
    width: 150px;
    margin-right: 20px;
}

.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-right: 50px;
}

.navbar-nav li {
    list-style-type: none;
}

.navbar-nav a {
    text-decoration: none;
    color: #000000;
    font-size: 22px; 
    font-family: "Heavitas";
    src: url(../../fonts/Heavitas.ttf);
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 4px 20px;
    border: 3px solid #0e0a0a;
    border-radius: 35px;
    margin-right: 10px;
    
}

.navbar-nav a:hover {
    color: #f8f8f8;
}

