/* Estilo para los enlaces del menú de navegación en la versión móvil */
@media (max-width: 767px) {
    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
    }
    .navbar-nav .nav-link {
        display: block;
        width: 100%;
        padding: 4px 5px;
        border: 3px solid #000000;
        margin-bottom: 5px; 
        border-radius: 25px;
    }
    .navbar-nav a {
        padding: 4px 10px;
    }
    .navbar-brand {
        img {
            width: 100px;
        }
    }
}

/*estilo del body para mobile*/
@media (max-width: 767px) {
    .caja2 {
        font-size: 1em;
        p {
            @include flex-mobile;
        }
        ul {
            li {
                font-size: 17px;
            }
        }
    }

    .caja1 {
    
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p {
           @include flex-mobile;
        }
    }
    .caja1 img {
        max-width: 100%;
        height: auto;
    }
    footer img {
        width: 100px;
    }
}
/*Index mobile*/
@media (max-width: 766px){
    h1{
        width: auto;
        font-size: 2em;
    }
    h2 {
        width: auto;
    }
    body{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
        
        
    }

    #cajas-insertadas {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: center;
      
        .caja1,
        .caja2 {
          width: 70%; 
            h3{
                font-size: 22px;
            }
         
        }
      
        .caja3 {
          width: 85%;    
        }
        .caja4 {
            width: auto;
            margin: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    #cajas-insertadas{
        @include flex;
        flex-direction: column;
    }
    .caja3 {
        display: flex;
        flex-direction: column;

    }
    .caja3 iframe {
        display: flex;
        justify-content: center;
        
        
        
    }

    /*Receta Mobile*/
    h2{
        @include flex;
    }
    .caja1-receta{
        @include flex;
        flex-direction: column;
        margin: 10px;
        max-width: 100%;
        flex-wrap: wrap;
    }
    .caja1-receta img{
        max-width: 100%;
        height: auto;
    }
    .caja1-receta iframe{
        width: 90%;
        height: auto;
    }
    .caja2-receta {
        @include flex;
        flex-direction: column;
        margin: 10px;
        max-width: 100%;
        flex-wrap: wrap;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .seccion-preparacion {
        margin-top: 0;
    }
    #banner1-receta {
        margin: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        h2 {
            width: auto;
        }
    }
    #banner2-receta {
        margin: 0;
        background-position: initial;
        h2{
            margin-left: 0;
            font-size: 20px;
            font-weight: bold;
            margin-top: 70px;
            color: white;
            -webkit-text-stroke: 1.1px black;
        }
    }
    #caja3-receta {
        flex-direction: column;
       max-width: 100%;
       
        .receta1,.receta2,.receta3,.receta4,.receta5,.receta6,.receta7,.receta8,.receta9 {
            width: 100%;
            margin-bottom: 0;
            h3 {margin: 0; text-align: center; font-size: 1em; margin-bottom: 10px;}
        }
    }

    /*Productos mobile*/
    .lineas-productos { 
        h2 {margin: 0;margin-top: 20px;}
    }
    #cajas-de-aqua {
        margin: 0;
    }
    .aqua-img {margin: 0; margin-top: 130px; width: 50%; margin-left: 6px;}
    #caja-linea-aqua {
        margin: 0;
        gap: 0;
        flex-direction: column;
        max-width: 100%;
        .aqua1,.aqua2,.aqua3,.aqua4,.aqua5,.aqua6 {
            margin-bottom: 6px;
            margin-left: 0;
            width: 100%;
            img {width: 90%; margin: 0;}
            h3 {margin: 0; text-align: center; font-size: 1em;}
        }
    }

    .terra-img {margin: 0; margin-top: 130px; width: 50%; margin-left: 6px;}
    #caja-linea-terra {
        margin: 0;
        gap: 0;
        flex-direction: column;
        max-width: 100%;
        .terra1,.terra2,.terra3,.terra4,.terra5,.terra6 {
            margin-bottom: 6px;
            margin-left: 0;
            width: 100%;
            img {width: 90%; margin: 0;}
            h3 {margin: 0; text-align: center; font-size: 1em;}
        }
    }
    h3{font-size: 1em;}

    /*Clientes Mobile*/
    .caja1-clientes {
        margin: 0;
        h2 {margin: 0;} 
        p{font-size: 1em; margin: 0; margin-top: 10px;}
        ul{flex-direction: column; margin-right: 10px;
        li {margin: 0;font-size: 1em; list-style-position: initial;}}
    }
    #caja-canje {
        
        .caja4-clientes {
            @include flex;
            flex-direction: column;
            .mitad1 {
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                img{padding: 15px;
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                }
            }
            .mitad2 {
                width: 100%;
                margin: 0;
                padding: 10px;
            }
        }
    }
    #banner1-cliente {margin: 0; margin-bottom: 10px;}
   #cajas-insertadas-cliente{
    display: block;
    .caja3-clientes {
        flex: none;
        
        p{font-size: 1em; }
        h3{
           font-size: 1em;
           @include margenes;
        }
        ul {flex-direction: column,;
        li {margin-left: 0;}}
    }
                            }

    /*Contacto Mobile*/
    .banner-contacto {
        margin: 0;
    }
    .botones input[type="submit"],
    .botones input[type="reset"] {
        margin-top: 10px;
        margin-right: 10px;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .image-contacto { 
        
        height: 350px;
        width: 160px;
        img {width: 100%;
            height: 100%;
           
        }
    }
    .banner-contacto2 {
        margin: 0;
    }
    #cajas-contacto{
        flex-direction: column;
        margin: 0;
        .caja-contacto{
            margin: 0;
        }
    }
}