/* Estilo para los enlaces del menú de navegación en la versión móvil */
@media (max-width: 767px) {
    .navbar-nav .nav-item {
        width: 100%;
        text-align: center;
    }
    .navbar-nav .nav-link {
        display: block;
        width: 100%;
        padding: 4px 5px;
        border: 3px solid #c5a0a0;
        margin-bottom: 5px; 
        border-radius: 25px;
    }
    .navbar-nav a {
        padding: 4px 10px;
    }
}

/*estilo del body para mobile*/
@media (max-width: 767px) {
    .caja2 {
        font-size: 1em;
    }

    .caja1 {
    
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
    }
    .caja1 img {
        max-width: 100%;
        height: auto;
    }

}

@media (max-width: 766px){

    body{
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #cajas-insertadas {
        display: flex;
        flex-flow: row wrap;
        gap: 40px;
        justify-content: center;
      
        .caja1,
        .caja2 {
          width: 70%; 
      
         
        }
      
        .caja3 {
          width: 90%;
          margin-top: 20px; 
      
          
        }}
    #cajas-insertadas{
        @include flex;
        flex-direction: column;
    }
    .caja3 {
        @include flex;
        flex-direction: column;
        margin: 10px;
        max-width: 100%;
        flex-wrap: wrap;
       
    }
    .caja3 iframe {
        margin-bottom: 20px;
        height: auto;
        
    }

}